@model MVC_DotNet.Models.Model_Basket
<h1>Sign In</h1>

@using (Html.BeginForm("Register_Logic", "LogIn", FormMethod.Post))
{
    <div>
        <div>Name</div>
        <div>
            @Html.TextBoxFor(model => model.User.name)
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.User.name)
        </div>
    </div>
    <div>
        <div>Email</div>
        <div>
            @Html.TextBoxFor(model => model.User.email)
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.User.email)
        </div>
    </div>
    <div>
        <div>Password</div>
        <div>
            @Html.TextBoxFor(model => model.User.pwd)
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.User.pwd)
        </div>
    </div>



    <br />
    <button type="submit">Register</button>
}