@model MVC_DotNet.Models.Model_Basket

<h1>Sign In</h1>

@using (Html.BeginForm("SignIn_Logic", "LogIn", FormMethod.Post))
{
    <div>Email</div>
    <div>
        @Html.TextBoxFor(model => model.User.email)
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.User.email)
    </div>
    <div>Password</div>
    <div>
        @Html.TextBoxFor(model => model.User.pwd)
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.User.pwd)
    </div>
    <br />
    <button type="submit">Log In</button>
}
@Html.ActionLink("Join us", "Register", "LogIn")