@model MVC_DotNet_v2.Models.DbModels.DbModelJoin_Products

    <tr>


        @using (Html.BeginForm("ChangeProduct", "Products", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.id)
            <td>@Html.TextBoxFor(m => m._quantity_)</td>
            <td>
                <select id="_type_" name="_type_">
                    @foreach (var item in ViewBag.Categories as Dictionary<string, string>)
                    {
                        if (item.Key == Model._type_.ToString() )
                        {
                            <option selected value="@item.Key">@item.Value</option>
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    }
                </select>
            </td>
            <td>@Html.TextBoxFor(m => m._name_)</td>
            <td>@Html.TextBoxFor(m => m._price_)</td>
            <td><button type="submit">Save</button></td>
        }
    </tr>