@model MVC_DotNet_v2.Models.DbModels.DbModelJoin_Products

<tr>

    @Html.HiddenFor(m => m.id)
    @Html.HiddenFor(m => m._type_)
    <td>@Html.TextBoxFor(m => m._name_, new { @readonly = "readonly" })</td>
    <td>@Html.TextBoxFor(m => m._quantity_, new { @readonly = "readonly" })</td>
    <td>@Html.TextBoxFor(m => m._price_, new { @readonly = "readonly" })</td>
    <td></td>
    
    @using (Html.BeginForm("AddToBasket", "Products", FormMethod.Post))
    {
        <input type="hidden" name="id" id="id" value="@Model.id" />
        <td><input type="text" name="quantity" id="quantity" /></td>
        <td><input type="submit" value="Order" /></td>
    }
</tr>
